.tooltip {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 10px;
  z-index: 1000;
  border-radius: 4px;
}

.tooltipArrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ccc;
  position: absolute;
}

/* Placement classes */
.tooltip.top {
  bottom: 100%;
  transform: translateY(5px);
}

.tooltip.top .tooltipArrow {
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip.bottom {
  transform: translate(-50%, 10%);
}

.tooltip.bottom .tooltipArrow {
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip.left {
  transform: translate(-100%, -50%);
}

.tooltip.left .tooltipArrow {
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
}

.tooltip.right {
  left: 100%;
  transform: translateX(-5px);
}

.tooltip.right .tooltipArrow {
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
}
