.accordion {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.header {
  background-color: #f7f7f7;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 8px;
}

.icon {
  font-size: 0.7rem;
  transition: all ease 0.3s;
  transform: rotate(0deg);
}

.iconRotate {
  transform: rotate(90deg);
}

.contentCollapsed {
  height: 0;
  padding: 0 1rem;
  overflow: hidden;
  border: none;
  transition: padding ease 0.3s;
}

.expand {
  padding: 1rem;
  height: auto;
  border-top: 1px solid #ddd;
}
